<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Budgeter.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8737BCA9D30D1464E169A0C207769AB948DA5A10</string>
				<key>dateExpires</key>
				<string>11/20/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>C496CGBUG3.com.cedomirspalevic.budgeter</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>C496CGBUG3</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Budgeter.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>334e950e-cb11-4087-9da7-4d92aab68597</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.cedomirspalevic.budgeter</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>C496CGBUG3</string>
				<key>name</key>
				<string>Cedomir Spalevic</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
